html {
  font-size: 625%;
}
html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body header .header-top-box {
  line-height: 0.4rem;
}
body header .header-top-word {
  font-size: 0.14rem;
  color: #29b078;
  float: left;
}
body header .header-top-right {
  font-size: 0.4rem;
  float: right;
}
body header .header-top-picture {
  width: 0.25rem;
  height: 0.24rem;
}
body header nav {
  background-color: #3aad87;
}
body header nav a {
  color: white;
  text-decoration: none;
}
body header nav li {
  font-size: 0.16rem;
}
body header nav input[type="checkbox"] {
  display: none;
}
body header nav .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0.1rem;
  top: 0.15rem;
  border: 0.01rem solid white;
  border-radius: 10%;
}
body header nav .nav-btn .nav-bar {
  height: 0.04rem;
  width: 0.3rem;
  margin: 0.05rem;
  background-color: white;
}
body header nav .header-nav-box {
  position: relative;
}
body header nav .header-nav-box .nav-header {
  min-height: 0.6rem;
  background-color: #3aad87;
}
body header nav .header-nav-box .header-nav-logo {
  font-size: 0.4rem;
  position: relative;
  width: 2rem;
  top: 0.08rem;
}
body header nav .header-nav-box .header-nav-logo img {
  width: 50%;
  height: 50%;
}
body header nav .header-nav-box .list-wrapper {
  font-size: 0;
  overflow: hidden;
}
body header nav .header-nav-box li {
  color: white;
  list-style: none;
  text-align: center;
  border-bottom: 0.01rem solid #29b078;
}
@media screen and (min-width: 768px) {
  body header nav .header-nav-box {
    position: relative;
  }
  body header nav .header-nav-box .nav-btn {
    display: none;
  }
  body header nav .header-nav-box .nav-header {
    float: left;
  }
  body header nav .header-nav-box .header-nav-logo {
    position: absolute;
    width: 2rem;
    height: auto;
  }
  body header nav .header-nav-box .header-nav-logo img {
    width: 50%;
    height: 50%;
  }
  body header nav .header-nav-box .list-wrapper {
    float: right;
  }
  body header nav .header-nav-box ul {
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  body header nav .header-nav-box li {
    float: left;
    line-height: 0.36rem;
    padding: 0.1rem;
    border-bottom: 0.04rem solid transparent;
    color: white;
    list-style: none;
    cursor: pointer;
  }
  body header nav .header-nav-box li:hover {
    border-color: white;
  }
}
@media screen and (max-width: 768px) {
  body header nav ul.drop-down {
    transition: height 1s ease;
    height: 0.97rem;
  }
  body header nav ul.drop-down li {
    cursor: pointer;
  }
  body header nav ul.drop-down a {
    vertical-align: -0.05rem;
  }
  body header nav ul.drop-down li:hover a {
    color: #fff;
  }
  body header nav ul.drop-down li:hover {
    border-bottom: 0.01rem solid #fff;
  }
  body header nav input:checked ~ ul {
    height: 0;
  }
}
body header .header-slider-contaner {
  width: 100%;
  position: relative;
  /*设置轮播焦点的位置*/
  /*设置当前图片焦点的颜色*/
  /*设置动画，请根据实际需要修改秒数*/
  /*设置背景，响应式请利用媒体查询根据断点修改路径*/
  /*设置图片的高度，请根据具体需要修改百分比，响应式及时修改此值*/
}
body header .header-slider-contaner .header-slider-item {
  opacity: 0;
  width: 100%;
  position: absolute;
  animation-timing-function: linear;
  animation-name: fade;
  animation-iteration-count: infinite;
  background-size: 100%;
}
body header .header-slider-contaner .header-focus-container {
  position: absolute;
  z-index: 7;
  margin: 0 auto;
  width: 1rem;
  left: 0;
  right: 0;
}
body header .header-slider-contaner .header-focus-container li {
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  font-size: 0;
  float: left;
  margin-right: 0.05rem;
  margin-left: 0.05rem;
  background: #fff;
}
body header .header-slider-contaner .header-focus-item {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  animation-timing-function: linear;
  animation-name: fade;
  animation-iteration-count: infinite;
}
body header .header-slider-contaner .focus-item2,
body header .header-slider-contaner .focus-item3,
body header .header-slider-contaner .focus-item4,
body header .header-slider-contaner .focus-item5 {
  opacity: 0;
}
body header .header-slider-contaner .header-focus-container {
  bottom: 2%;
}
body header .header-slider-contaner .header-focus-item {
  background: #51B1D9;
}
body header .header-slider-contaner .header-slider-item,
body header .header-slider-contaner .header-focus-item {
  animation-duration: 20s;
}
body header .header-slider-contaner .slider-item1,
body header .header-slider-contaner .focus-item1 {
  animation-delay: -1s;
}
body header .header-slider-contaner .slider-item2,
body header .header-slider-contaner .focus-item2 {
  animation-delay: 3s;
}
body header .header-slider-contaner .slider-item3,
body header .header-slider-contaner .focus-item3 {
  animation-delay: 7s;
}
body header .header-slider-contaner .slider-item4,
body header .header-slider-contaner .focus-item4 {
  animation-delay: 11s;
}
body header .header-slider-contaner .slider-item5,
body header .header-slider-contaner .focus-item5 {
  animation-delay: 15s;
}
@keyframes fade {
  0% {
    opacity: 0;
    z-index: 2;
  }
  5% {
    opacity: 1;
    z-index: 1;
  }
  20% {
    opacity: 1;
    z-index: 1;
  }
  25% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
body header .header-slider-contaner .slider-item1 {
  background-image: url(../../task8/task8-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body header .header-slider-contaner .slider-item2 {
  background-image: url(../../task8/picture-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
body header .header-slider-contaner .slider-item3 {
  background-image: url(../../task8/picture-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body header .header-slider-contaner .slider-item4 {
  background-image: url(../../task8/task8-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body header .header-slider-contaner .slider-item5 {
  background-image: url(../../task8/picture-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body header .header-slider-contaner .header-slider,
body header .header-slider-contaner .header-slider-item {
  font-size: 0;
  padding-bottom: 31%;
}
body footer .footer-foot-box {
  padding-top: 0.2rem;
  background-color: #26a26f;
}
body footer .footer-foot-box .footer-left-box {
  float: left;
  padding-right: 0.5rem;
}
body footer .footer-foot-box .footer-middle-box {
  float: left;
}
body footer .footer-foot-box .footer-right-box {
  font-size: 0;
  float: right;
}
body footer .footer-foot-box .foottitle {
  font-size: 0.16rem;
}
body footer .footer-foot-box .footcolor {
  text-decoration: none;
  font-size: 0.16rem;
  font-weight: 700;
  color: #fff;
}
body footer .footer-foot-box .footair {
  padding: 0.34rem;
}
body footer .footer-foot-box .footnetbox {
  font-size: 0.14rem;
  padding-top: 0.17rem;
  padding-bottom: 0.17rem;
}
body footer .footer-foot-box .footnet:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 0.01rem solid #fff;
}
body footer .footgb {
  border-top: 0.01rem solid #32c086;
  text-align: center;
  background-color: #26a26f;
  color: #fff;
  font-size: 0.12rem;
}
