header .navafoot1 {
  display: inline-block;
  width: 100%;
}
header .navafoot2 {
  width: 100%;
}
main .maintitlebox1 {
  font-size: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: 0.01rem solid #d0d6d9;
}
main .maintitle1 {
  font-size: 0.16rem;
  font-weight: 700;
}
main .maintitle2 {
  font-size: 0.16rem;
  font-weight: 700;
  color: #29b078;
}
main .leftbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .leftbox2 {
  padding-right: 0.15rem;
  border: 0.01rem solid #ddeded;
  border-radius: 0.1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: #fff;
}
main .round {
  width: 0.03rem;
  height: 0.03rem;
  padding: 0.03rem;
  border: 0.01rem solid #ffcbad;
  border-radius: 50%;
}
main .leftsmallbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.15rem;
}
main .leftword {
  text-decoration: none;
  padding-left: 0.1rem;
  font-size: 0.14rem;
  font-weight: 700;
  color: #29b078;
}
main .leftsmallbox:hover .round {
  background-color: #ff6501;
}
main .leftsmallbox:hover .leftword {
  text-decoration: none;
  color: #ff6501;
}
main .lefttitle {
  font-size: 0.16rem;
  font-weight: 700;
  border-bottom: 0.01rem solid #e6e6e6;
  line-height: 0.63rem;
  text-align: center;
  margin: 0;
}
main .rightbox2 {
  border: 0.01rem solid #ddeded;
  border-radius: 0.1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: #fff;
}
main .righttopbox {
  border-bottom: 0.01rem solid #ddeded;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  font-size: 0.14rem;
  font-weight: 700;
  color: #999;
}
main .toppicture {
  width: 1.55rem;
  height: 0.55rem;
  margin: 0.2rem;
  float: left;
}
main pword1 {
  padding-right: 0.3rem;
  font-size: 0.14rem;
  font-weight: 700;
  color: #999;
  margin: 0;
}
main .rightword1 {
  padding-top: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-bottom: 0.7rem;
  font-size: 0.14rem;
  font-weight: 700;
  color: #999;
}
main .rightword {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-bottom: 0.7rem;
  font-size: 0.14rem;
  font-weight: 700;
  color: #999;
}
main .leftlink {
  font-size: 0;
  width: 0.9rem;
  display: inline-block;
  text-align: left;
}
