main .maintitlebox1 {
  padding: 0.3rem 0;
  border-bottom: 0.01rem solid #d0d6d9;
  font-size: 0;
}
main .maintitlebox1 .maintitle1 {
  font-size: 0.16rem;
  font-weight: 700;
}
main .maintitlebox1 .maintitle2 {
  font-size: 0.16rem;
  font-weight: 700;
  color: #29b078;
}
main .maintitleoptionbox {
  display: flex;
  line-height: 0.4rem;
  border-bottom: 0.01rem solid #edf1f2;
}
main .maintitleoptionbox .main-title-option {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .maintitleoptionbox .main-title-option1 {
  width: 0.5rem;
  font-size: 0.14rem;
  font-weight: 700;
  color: #999;
  display: inline-block;
}
main .maintitleoptionbox .main-title-option2 {
  width: 0.7rem;
  text-align: center;
  margin-right: 0.1rem;
  font-size: 0.14rem;
  font-weight: 700;
  display: inline-block;
}
main .maintitleoptionbox .main-title-option2:hover {
  color: #fff;
  background-color: #29b078;
}
main .maintitleoptionbox .main-title-option3 {
  width: 0.7rem;
  text-align: center;
  margin-right: 0.1rem;
  font-size: 0.14rem;
  font-weight: 700;
  display: inline-block;
}
main .maintitleoptionbox .main-title-option3:hover {
  color: #fff;
  background-color: #29b078;
}
main .mainhtitlebox {
  padding: 0.3rem 0;
  border-bottom: 0.01rem solid #d0d6d9;
}
main .mainhtitlebox .mainhtitle1 {
  font-size: 0.16rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  main .main-cover-1 {
    padding-right: 0;
  }
}
main .main-cover-1 {
  padding-left: 0;
}
main .main-cover-1 .main-introduce-box {
  position: relative;
  border: 0.01rem solid #eeeded;
  background-color: #fff;
  margin-top: 0.2rem;
  /* .main-hover-word1{
                font-size: 1.4rem;
                font-weight: 700;
                padding: 1.4rem 0;
            } */
}
main .main-cover-1 .main-introduce-box .main-introduce-top {
  display: flex;
  border-bottom: 0.01rem solid #eeeded;
}
main .main-cover-1 .main-introduce-box .main-picture-box {
  padding: 0.1rem;
  width: 137%;
  height: 30%;
  min-width: 1.43rem;
}
@media screen and (max-width: 768px) {
  main .main-cover-1 .main-introduce-box .main-picture-box {
    width: 30%;
  }
  main .main-cover-1 .main-introduce-box .main-in-picture1 {
    width: 9%!important;
    height: 42%!important;
  }
  main .main-cover-1 .main-introduce-box .main-cover-1 {
    padding-left: 0.15rem;
  }
}
main .main-cover-1 .main-introduce-box .main-picture-1 {
  width: 100%;
  height: 100%;
}
main .main-cover-1 .main-introduce-box .main-word-1 {
  font-size: 0.16rem;
  font-weight: 700;
  padding-top: 0.1rem;
  padding-right: 0.1rem;
}
main .main-cover-1 .main-introduce-box .main-word-2 {
  font-size: 0.14rem;
  font-weight: 500;
  padding-top: 0.1rem;
  padding-right: 0.1rem;
}
main .main-cover-1 .main-introduce-box .main-in-box {
  font-size: 0;
  display: flex;
  align-items: center;
  border-bottom: 0.01rem solid #eeeded;
}
main .main-cover-1 .main-introduce-box .main-in-word1 {
  font-size: 0;
  display: flex;
  align-items: center;
  width: 50%;
  height: 0.42rem;
  border-right: 0.01rem solid #eeeded;
}
main .main-cover-1 .main-introduce-box .main-in-word2 {
  font-size: 0.12rem;
  color: #999;
  font-weight: 700;
  padding: 0 0.06rem;
}
main .main-cover-1 .main-introduce-box .main-in-picture1 {
  width: 14%;
  height: 43%;
  padding-bottom: 0.06rem;
  padding-right: 0.2rem;
}
main .main-cover-1 .main-introduce-box .main-in-picture2 {
  width: 100%;
  height: 100%;
  min-width: 0.16rem;
  min-height: 0.145rem;
}
main .main-cover-1 .main-introduce-box .main-in-word3 {
  font-size: 0;
  display: flex;
  align-items: center;
  width: 50%;
  height: 0.42rem;
}
main .main-cover-1 .main-introduce-box .main-in-word4 {
  font-size: 0.12rem;
  color: #f01400;
  font-weight: 700;
}
main .main-cover-1 .main-introduce-box .main-in-word5 {
  font-size: 0.12rem;
  font-weight: 700;
}
main .main-cover-1 .main-introduce-box .main-in-word6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  border-right: 0.01rem solid #eeeded;
  font-size: 0.12rem;
  color: #999;
  font-weight: 700;
}
main .main-cover-1 .main-introduce-box .main-in-word7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.01rem solid #eeeded;
  padding: 0.05rem 0.1rem;
}
main .main-cover-1 .main-introduce-box .main-in-style {
  width: 65%;
}
main .main-cover-1 .main-introduce-box .main-in-word8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem 0.1rem;
}
main .main-cover-1 .main-introduce-box .main-in-pp {
  font-size: 0.12rem;
}
main .main-cover-1 .main-introduce-box .main-in-word9 {
  font-size: 0;
  padding: 0.1rem 0.1rem;
  width: 100%;
  border-bottom: 0.01rem solid #eeeded;
}
main .main-cover-1 .main-introduce-box .main-in-word10 {
  padding: 0.1rem 0;
  font-size: 0.14rem;
  font-weight: 700;
}
main .main-cover-1 .main-introduce-box .main-in-word11 {
  padding: 0.1rem 0;
  font-size: 0.14rem;
  font-weight: 700;
  color: #f01400;
}
main .main-cover-1 .main-introduce-box .main-in-word12 {
  padding: 0 0.01rem;
  font-size: 0.12rem;
  font-weight: 700;
  color: #999;
  line-height: 0.3rem;
}
main .main-cover-1 .main-introduce-box .main-in-hover1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
main .main-cover-1 .main-introduce-box .main-in-hover1:hover {
  opacity: 1;
}
main .main-cover-1 .main-introduce-box .main-hover-word2 {
  font-size: 0.14rem;
  font-weight: 700;
  padding: 0.14rem 0.14rem;
}
